@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	top: 0;
	/* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
	font-family: 'Roboto', sans-serif;
	line-height: 1.6;
	font-size: 18px;
  background-color: #0E1116;
}

* {
	box-sizing: border-box;
	/* border: 1px solid red; */
}

a {
	color: #0070f3;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	max-width: 100%;
	display: block;
}